In [1]:
import pandas as pd
from pathlib import Path

# Convert Blueprint data to HackMIT format

In [8]:
df = pd.read_csv(Path('../data/blueprint-rookie-data-raw.txt'), sep=' ')
print(len(df))
df.head()

235

  TEAM1 TEAM2  TEAM2wins
0  762c  0815      False
1  3f1b  0965      False
2  70ff  2845      False
3  c0d7  70ef       True
4  2845  9f2b       True

In [14]:
df2 = df.copy()
r = next(df.itertuples())
df2['winner'] = [r.TEAM2 if r.TEAM2wins else r.TEAM1 for r in df2.itertuples()]
df2['loser'] = [r.TEAM1 if r.TEAM2wins else r.TEAM2 for r in df2.itertuples()]
df2['annotator'] = 'na'

df2.head()

  TEAM1 TEAM2  TEAM2wins winner loser annotator
0  762c  0815      False   762c  0815        na
1  3f1b  0965      False   3f1b  0965        na
2  70ff  2845      False   70ff  2845        na
3  c0d7  70ef       True   70ef  c0d7        na
4  2845  9f2b       True   9f2b  2845        na

In [20]:
df3 = df2.drop('TEAM1 TEAM2 TEAM2wins'.split(), axis=1)
df3.head()

  winner loser annotator
0   762c  0815        na
1   3f1b  0965        na
2   70ff  2845        na
3   70ef  c0d7        na
4   9f2b  2845        na

In [22]:
df3.to_csv(Path('../data/blueprint-rookie-data.csv'), index=False)